@charset "utf-8";
/* CSS Document */

.catalogo_cuerpo {
	width:100%;
}

.catalogo_cuerpo .columna1,
.catalogo_cuerpo .columna2 {
	display:inline-block;
	vertical-align:top;
	position:relative;
	padding:20px 0px;
}

.catalogo_cuerpo .columna1 {
	width:300px;
}

.catalogo_cuerpo .columna2 {
	width:700px;
}

.catalogo_cuerpo .columna1 .titulo {
	padding-top:20px;
	font-family:'GothamNarrowBlack', sans-serif;
	color:#852c2b;
	padding-bottom:30px;
}

.catalogo_cuerpo .columna1 p,
.catalogo_cuerpo .columna1 div.catalogo_campos_select {
	padding-left:20px;
	padding-bottom:20px;
}

.catalogo_cuerpo .columna1 p a.btnBotones.buscador {
	width:20px;
	height:20px;
	background:url(../images/botones.png) no-repeat;
	background-size:260px 20px;
}

.catalogo_cuerpo .columna1 p.buscar {
	width:170px;
	text-align:right;
	color:#852c2b;
	cursor:pointer;
	font-family:'GothamNarrowBlack', sans-serif;
}

.catalogo_cuerpo .columna1 p.textBusquedaAvanzada {
	width:170px;
	text-align:right;
	color:#852c2b;
	cursor:pointer;
}

.catalogo_cuerpo .columna1 p.opcionBusquedaAvanzada {
	width:170px;
	color:#852c2b;
	font-family:'GothamNarrowBlack', sans-serif;
	cursor:pointer;
	border-bottom:1px solid #852c2b;
	padding-bottom:10px;
	padding-left:0px;
	margin-left:20px;
	margin-bottom:10px;
}

.catalogo_cuerpo .columna1 input[type='checkbox'] {
	margin-right:10px;
}

.catalogo_cuerpo .columna1 p.checks {
	padding-left:0px;
	padding-bottom:5px;
}

.catalogo_cuerpo .columna1 .busquedaAvanzada,
.catalogo_cuerpo .columna1 .opcionBusquedaAvanzada2 {
	display:none;
}

.catalogo_cuerpo .columna2 .contenedorInfo {
	width:750px;
	height:200px;
	border:4px solid #852c2b;
	border-radius:15px;
	overflow:hidden;
	position:relative;
	margin-bottom:30px;
}

.catalogo_cuerpo .columna2 .contenedorInfo table {
	width:100%;
	height:100%;
}

.catalogo_cuerpo .columna2 .contenedorInfo table td {
	vertical-align:top;
}

.catalogo_cuerpo .columna2 .contenedorInfo table td.imagen {
	width:260px;
}

.catalogo_cuerpo .columna2 .contenedorInfo table td.imagen img {
	width:100%;
	height:100%;
	border-radius:15px;
}

.catalogo_cuerpo .columna2 .contenedorInfo table td.descripcion {
	padding:5px 10px 5px 20px;
}

.catalogo_cuerpo .columna2 .contenedorInfo .like {
	height:20px;
	text-align:right;
}

.catalogo_cuerpo .columna2 .contenedorInfo .like a.btnBotones.corazon {
	width:20px;
	height:20px;
	background:url(../images/botones.png) no-repeat -220px 0px;
	background-size:260px 20px;
}

.catalogo_cuerpo .columna2 .contenedorInfo .btns {
	height:30px;
	padding-bottom:10px;
}

.catalogo_cuerpo .columna2 .contenedorInfo .btns .otrosBotones {
	display:inline-block;
	vertical-align:top;
	height:30px;
	line-height:30px;
	font-size:12px;
	color:#fff;
	padding:0px 5px;
	background-color:#852c2b;
	border-radius:5px;
}

.catalogo_cuerpo .columna2 .contenedorInfo .btns .otrosBotones sup {
	color:#fff;
	font-size:8px;
}

.catalogo_cuerpo .columna2 .contenedorInfo .info {
	height:100px;
	overflow:hidden;
}

.catalogo_cuerpo .columna2 .contenedorInfo .info * {
	font-size:12px;
}

.catalogo_cuerpo .columna2 .contenedorInfo .info .descripcion {
	height:30px;
	overflow:hidden;
}

.catalogo_cuerpo .columna2 .contenedorInfo .precioVerMas .precio {
	background-color:#d1d2d4;
	border-radius:15px;
	padding:0px 10px;
}

.catalogo_cuerpo .columna2 .contenedorInfo .precioVerMas .verMas {
	float:right;
	color:#852c2b;
	font-family:'GothamNarrowBlack', sans-serif;
	font-size:12px;
	cursor:pointer;
}