@charset "utf-8";
/* CSS Document */

.catalogo_cuerpo {
	width:100%;
}

.catalogo_cuerpo .columna1,
.catalogo_cuerpo .columna2 {
	display:inline-block;
	vertical-align:top;
	position:relative;
	padding:20px 0px;
}

.catalogo_cuerpo .columna1 {
	width:300px;
}

.catalogo_cuerpo .columna2 {
	width:700px;
}

.catalogo_cuerpo .columna2 .contenedorInfo {
	width:750px;
	height:200px;
	border:4px solid #852c2b;
	border-radius:15px;
	overflow:hidden;
	position:relative;
	margin-bottom:30px;
}

.catalogo_cuerpo .columna2 .contenedorInfo table {
	width:100%;
	height:100%;
}

.catalogo_cuerpo .columna2 .contenedorInfo table td {
	vertical-align:top;
}

.catalogo_cuerpo .columna2 .contenedorInfo table td.imagen {
	width:300px;
}

.catalogo_cuerpo .columna2 .contenedorInfo table td.imagen div {
	width:300px;
	height:200px;
	overflow:hidden;
	position:relative;
	cursor:pointer;
}

.catalogo_cuerpo .columna2 .contenedorInfo table td.descripcion {
	padding:5px 10px 5px 20px;
}

.catalogo_cuerpo .columna2 .contenedorInfo .like {
	height:20px;
	text-align:right;
}

.catalogo_cuerpo .columna2 .contenedorInfo .like a.btnBotones.corazon {
	width:20px;
	height:20px;
	background:url(../images/botones.png) no-repeat -220px 0px;
	background-size:260px 20px;
}

.catalogo_cuerpo .columna2 .contenedorInfo .btns {
	height:30px;
	padding-bottom:10px;
}

.catalogo_cuerpo .columna2 .contenedorInfo .btns .otrosBotones {
	display:inline-block;
	vertical-align:top;
	height:30px;
	line-height:30px;
	font-size:12px;
	color:#fff;
	padding:0px 5px;
	background-color:#852c2b;
	border-radius:5px;
	text-decoration:none;
	margin-right:5px;
}

.catalogo_cuerpo .columna2 .contenedorInfo .btns .otrosBotones.wcs {
	background:url(../images/btnWc.png) no-repeat #852c2b;
	background-position:right;
	background-size:auto 25px;
	padding-right:22px;
}

.catalogo_cuerpo .columna2 .contenedorInfo .btns .otrosBotones.recamaras {
	background:url(../images/btnCama.png) no-repeat #852c2b;
	background-position:right;
	background-size:auto 25px;
	padding-right:25px;
}

.catalogo_cuerpo .columna2 .contenedorInfo .btns .otrosBotones sup {
	color:#fff;
	font-size:8px;
}

.catalogo_cuerpo .columna2 .contenedorInfo .info {
	height:100px;
	overflow:hidden;
	cursor:pointer;
}

.catalogo_cuerpo .columna2 .contenedorInfo .info * {
	font-size:12px;
}

.catalogo_cuerpo .columna2 .contenedorInfo .info .descripcion {
	height:30px;
	overflow:hidden;
}

.catalogo_cuerpo .columna2 .contenedorInfo .precioVerMas .precio {
	cursor:pointer;
	color:#852c2b;
	font-family:'GothamNarrowBlack', sans-serif;
}

.catalogo_cuerpo .columna2 .contenedorInfo .precioVerMas .verMas {
	float:right;
	color:#852c2b;
	font-family:'GothamNarrowBlack', sans-serif;
	font-size:12px;
	cursor:pointer;
}

.cadenaResultados {
	font-family:'GothamNarrowBlack', sans-serif;
	color:#852c2b;
	padding-bottom:50px;
}