@charset "utf-8";
/* CSS Document */

.template_contenedorCuerpo > .template_cuerpo {
	width:100%;
}

.template_principal .template_contenedorCuerpo div.lineaIzq,
.template_principal .template_contenedorCuerpo div.lineaDer {
	display:none;
}

.index_cuerpo {
	width:100%;
	position:relative;
}

.index_cuerpo .indexFondo {
	width:100%;
}

.index_cuerpo .contenedorMapa {
	position:absolute;
	width:100%;
	height:100%;
	top:35px;
	left:0px;
	display:none;
}

.controlesMapa {
	width:100%;
	height:35px;
	display:none;
	position:absolute;
	top:0px;
	text-align:center;
	background-color:#fff;
}

.controlesMapa .otrosBotones {
	display:inline-block;
	vertical-align:top;
	height:25px;
	color:#852c2b;
	line-height:25px;
	font-family: "GothamNarrowBlack",sans-serif;
	padding-left:22px;
	text-decoration:none;
	margin:0px 30px;
}

.controlesMapa .otrosBotones.buscador {
	background:url(../images/ico-paloma.png) no-repeat left center;
	background-size:15px auto;
}

.controlesMapa .otrosBotones.borrar {
	background:url(../images/btnBorrar.png) no-repeat left center;
	background-size:22px auto;
	padding-left:27px;
}

.index_mensajesAlerts {
	padding:20px;
}