@charset "utf-8";
/* CSS Document */

.template_contenedorCuerpo {
	background-color:#f6f6f6;
}

.inmueble_cuerpo {
	width:100%;
}

.inmueble_cuerpo .columna1,
.inmueble_cuerpo .columna2 {
	display:inline-block;
	vertical-align:top;
	position:relative;
	padding:20px 0px;
}

.inmueble_cuerpo .columna1 {
	width:300px;
}

.inmueble_cuerpo .columna2 {
	width:860px;
}

.inmueble_cuerpo .columna1 .titulo {
	padding-top:20%;
	font-family:'GothamNarrowBlack', sans-serif;
	color:#852c2b;
	padding-bottom:30px;
	cursor:pointer;
}

.inmueble_cuerpo .columna1 p,
.inmueble_cuerpo .columna1 div.inmueble_campos_select {
	padding-left:20px;
	padding-bottom:20px;
}

.inmueble_cuerpo .columna1 p.titulo a.btnBotones.buscador {
	width:20px;
	height:20px;
	background:url(../images/botones.png) no-repeat;
	background-size:260px 20px;
}

.inmueble_cuerpo .columna2 p.titulo {
	font-family:'GothamNarrowBlack', sans-serif;
	color:#852c2b;
	font-size:20px;
	padding-bottom:10px;
}

.inmueble_cuerpo .columna2 p.titulo a.template_btnsShare {
	float:right;
	margin-left:10px;
}

.inmueble_cuerpo .columna2 table.contenedorInfo {
	width:90%;
}

.inmueble_cuerpo .columna2 table td {
	vertical-align:top;
}

.inmueble_cuerpo .columna2 table.contenedorInfo td.imagen {
	width:60%;
}

.inmueble_cuerpo .columna2 table.contenedorInfo td.imagen img.imagenPrincipal {
	width:100%;
}

.galeria {
	width:100%;
	height:80px;
	margin-top:10px;
	overflow:hidden;
}

.contenedorFlechas,
.contenedorDesplazamiento {
	display:inline-block;
	vertical-align:top;
	height:100%;
}

.contenedorFlechas {
	width:50px;
}

.flechas {
	width:30px;
	height:30px;
	display:block;
	position:relative;
	margin-top:-15px;
	top:50%;
	overflow:hidden;
	text-indent:-200px;
	cursor:pointer;
	border-radius:15px;
}

.flechas.prev {
	background:url(../images/flechas.png) no-repeat #5c5c5c;
	background-size:30px auto;
}

.flechas.next {
	float:right;
	background:url(../images/flechas.png) no-repeat 0px -30px #5c5c5c;
	background-size:30px auto;
}

.contenedorDesplazamiento {
	width:360px;
	overflow:hidden;
}

.desplazamiento {
	position:relative;
	width:100%;
	left:0px;
}

.desplazamiento .bloque {
	display:inline-block;
	vertical-align:top;
	height:100%;
	width:86px;
	margin:0px 2px;
	text-align:center;
	overflow:hidden;
	cursor:pointer;
}

.desplazamiento .bloque img {
	min-width:86px;
	height:inherit;
}

.inmueble_cuerpo .columna2 table.contenedorInfo td.descripcion {
	padding-left:20px;
}

.inmueble_cuerpo .columna2 table.contenedorInfo td.descripcion a.btnBotones.mundo {
	width:20px;
	height:20px;
	background:url(../images/botones.png) no-repeat -180px 0px;
	background-size:260px 20px;
}

.inmueble_cuerpo .columna2 table.contenedorInfo td.descripcion a.btnBotones.corazon {
	width:20px;
	height:20px;
	background:url(../images/botones.png) no-repeat -220px 0px;
	background-size:260px 20px;
}

.inmueble_cuerpo .columna2 table.contenedorInfo td.descripcion a.otrosBotones {
	font-family:'GothamNarrowBlack', sans-serif;
	color:#852c2b;
	font-size:12px;
	margin-left:10px;
}

.inmueble_cuerpo .columna2 table.servicios,
.inmueble_cuerpo .columna2 table.contacto {
	margin-top:30px;
}

.inmueble_cuerpo .columna2 table.servicios td {
	padding-right:40px;
	min-width:140px;
}

.inmueble_cuerpo .columna2 table.servicios td p {
	text-align:center;
	font-family:'GothamNarrowBlack', sans-serif;
}

.inmueble_cuerpo .columna2 table.servicios td ul {
	list-style-position:inside;
}

.inmueble_cuerpo .columna2 table.servicios td ul li {
	list-style-image:url(../images/ico-paloma.png);
}

.inmueble_cuerpo .columna2 table.contacto td {
	padding-bottom:10px;
	padding-right:10px;
}

.inmueble_cuerpo .columna2 table.contacto td a.btnBotones.email {
	width:20px;
	height:20px;
	background:url(../images/botones.png) no-repeat -80px 0px;
	background-size:260px 20px;
	margin-left:10px;
}

.inmueble_cuerpo .columna2 table.contacto td.titulo {
	font-family:'GothamNarrowBlack', sans-serif;
	color:#852c2b;
}

.inmueble_cuerpo .columna2 table.contacto td input.template_campos {
	width:400px;
}

.inmueble_cuerpo .columna2 table.contacto td textarea.template_campos {
	min-width:400px;
	max-width:400px;
	max-height:150px;
	min-height:150px;
}

.inmueble_cuerpo .columna2 table.contacto td .btnEnviar {
	font-family:'GothamNarrowBlack', sans-serif;
	color:#852c2b;
	cursor:pointer;
}

.inmueble_cuerpo .columna2 .inmueble_mapa {
	width:90%;
	height:400px;
	margin-top:30px;
}