@charset "utf-8";
/* CSS Document */

.restablecerPass_cuerpo * {
	font-size:inherit;
	font-family:inherit;
	color:inherit;
}

.restablecerPass_cuerpo {
	padding:40px 20px;
}

.restablecerPass_cuerpo p.titulo {
	width:95%;
	font-family:'GothamNarrowBlack', sans-serif;
	color:#852c2b;
	font-size:20px;
	padding-bottom:10px;
}

.restablecerPass_cuerpo p {
	padding-bottom:10px;
}

.restablecerPass_cuerpo .boton {
	font-family:'GothamNarrowBlack', sans-serif;
	color:#852c2b;
	cursor:pointer;
}