@charset "utf-8";
/* CSS Document */

#backImage {
	width:600px;
}

#backImage input.ObjFocusBlur {
	width:88%;
}

#backImage select.ObjFocusBlur {
	width:92%;
}

#backImage textarea.ObjFocusBlur {
	max-width:88%;
	min-width:88%;
	max-height:150px;
	min-height:150px;
}

.template_contenedorCeldas {
	width:95%;
	cursor:pointer;
	border-bottom:1px solid #012851;
	padding:0px 10px 5px 10px;
	color:#555;
}

.desarrollo_obtenerCoordenadas {
	width:800px;
}

.desarrollo_subirImagen .template_contenedorCeldas {
	width:270px;
	padding:0px;
	border:none;
}